:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #242d3d;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: #2e374b;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #44516d;
}


html,
body {
  font-family: var(--font-mono);
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
  background-color: #1A202C;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container Styles */
.container {
  color: white;
  max-width: 76.8rem;
  margin: 0 auto;
}

.container-text-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-text {
  margin-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
}

.container-text:first-child {
  margin-top: 2px;
}

.container-sub-text {
  opacity: 0.7;
  font-size: 1.4rem;
  font-weight: 300;
}

.container-text-center {
  text-align: center;
}

.container-text-box-outline {
  background-color: #2e374b;
  width: 100%;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.15);
  margin: 2rem 0rem;
  padding: 2rem;
  border-radius: 1.5rem;
}

.container-blank {
  width: 100%;
  min-height: 1rem;
  padding: 1.5rem 0.2rem;
  margin: 0.3rem 0rem;
}

.container-h1 {
  width: 100%;
  font-size: 4rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.container-h2 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.container-h3 {
  width: 100%;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.container-list {
  margin: 0;
  list-style-type: disc;
  padding-inline-start: 2.5rem;
}

.container-list a {
  text-decoration: underline;
  color: inherit;
}

.container-img {
  margin: 4rem 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img-rounded {
  border-radius: 25px;
  width: 50%;
  height: auto;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.container-input {
  color: white;
  width: 100%;
  min-width: 0px;
  outline: transparent solid 0.2rem;
  outline-offset: 0.2rem;
  position: relative;
  appearance: none;
  transition-duration: 200ms;
  font-size: 1.8rem;
  padding-inline-start: 1rem;
  padding-inline-end: 2.5rem; 
  height: 4rem;
  border-radius: 1rem;
  border-width: 0.1rem;
  border-style: solid;
  background-color: #44516d;
}